:root {
    --main-color: #6c63ff;

}

body {
    text-align: center;
}

.container {
    text-align: left;
}

.links-buttons > ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.links-buttons > ul > li {
    border: 1px solid var(--main-color);
    border-radius: 5%;
    padding: 20px 15px;
    margin: 0 20px;
    color: var(--main-color);
}

h1 {
    font-size: 100px;
    margin: 5px;
}

h3 {
    font-size: 50px;
    margin: 40px 0 5px;

}

h4 {
    opacity: 0.7;
    font-size: 25px;
    margin: 5px;
}

ul {
    padding: 0;
}

li > a {
    color: var(--main-color);
    text-decoration: none;
    margin: 0;
}


.contact-me-btn {
    background: var(--main-color);
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
}

.contact-me-text {
    color: white;
}

.my-email {
    color: var(--main-color);
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 50px;
}

.top-space {
    margin-top: 70px;
}



div > a:visited {
    color: blue;
}

.my-email:hower {
    text-decoration: underline;
}

.contact-me-text:hover {
    color: white;
    text-decoration: none;
}

.contact-me-text:visited {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    .container {
        text-align: center;
    }
}